<%- include('partials/header.ejs') %>

<div>
  <h1>WELCOME BACK <%= currentUser.first %></h1>
  <form action="/log-out" method="POST">
    <button type="submit">
      LOG OUT
    </button>
  </form>
  <div>
    <a href="/membersonly">
      <button>
        Members Club
      </button> 
    </a>
  </div>
  <div>
    <a href="/messagebox">
      <button>
        Message Box
      </button> 
    </a>
  </div>
  <div>
    <% if (locals.messages) {%>
      <ul>
        <% messages.forEach(function(message) { %>
          <% if (currentUser.is_member) { %>
            <li><%= message.user %><%= message.date %><%= message.message %><%= message.time %>
            <% if (currentUser.is_admin) { %>
              <form action="/home/<%= message.message_id %>/deletemessage" method="POST">
                <button>
                  Delete Message
                </button>
              </form>
           <% } %>
            </li>
         <% } else { %> 
          <li><%= message.message %> </li>
       <% } %>
        <% }); %>
      </ul>
    <% } %>
  </div>

</div>

