<div>
  <h1>WELCOME BACK <%= currentUser.first %></h1>
  <form action="/log-out" method="POST">
    <button type="submit">
      LOG OUT
    </button>
  </form>
  <div>
    <a href="/membersonly">
      <button>
        Members Club
      </button> 
    </a>
  </div>
  <div>
    <a href="/messagebox">
      <button>
        Message Box
      </button> 
    </a>
  </div>
  <div>
    <% if (locals.messages) {%>
      <ul>
        <% messages.forEach(function(message) { %>
          <% if (currentUser.is_member) { %>
            <% console.log( currentUser) %>
            <li><%= message.addeddate %><%= message.message %><%= message.addedtime %></li>
         <% } else { %> 
          <li><%= message.addeddate %> </li>
       <% } %>
        <% }); %>
      </ul>
    <% } %>
  </div>

</div>

