<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
<body>
<div id="main">
  <% if (locals.user) {%>
    <%- include('home.ejs') %>
  <% } else { %>
    <h1>Members Only Club.</h1>
    <% if (locals.errors) {%>
      <ul id="errorsContainer">
        <% if (locals.errorMsg) {%> 
          <li><%= locals.errorMsg %></li> <% }%>
        <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    <% } %>

    <div id="loginForm"  >
      <form action="/" method="POST" id="loginFormInput" autocomplete="off">
        <div class="loginInput">
          <input id="email" name="username" autocomplete="off" placeholder="Enter Email" type="text" />
        </div>
        <div class="loginInput">
          <input id="password" name="password"  autocomplete="new-password" placeholder="Enter Password" type ="password" />
        </div>
        <div class="formBtns">
          <button type="submit" id="loginBtn">Log In</button>
        </div>
      </form>
        <div class="formBtns" id="signUp">
          <div >
            Not a member? 
          </div>
          <a href="/sign-up"> 
            <button> Sign Up !</button>
          </a>
        </div>
    </div>

  <%}%>
  <div id="recentMsgContainer">
    <% if (locals.message) {%>
      <div id="recentMsg">
        <div id="recentMsgTxt">Most recently added Message: </div>
        <div id="newMsgContainer">
          <div> <%= message.message %> </div>
        </div>
      </div>
    <% } %>
  </div>
</div>
<script src="/helpers.js"></script>
</body>
</html>
