<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
<body>
<div id="main">
  <% if (locals.user) {%>
    <%- include('home.ejs') %>
  <% } else { %>
    <h1>Members Only Club.</h1>
    <% if (locals.errors) {%>
      <ul>
        <% if (locals.errorMsg) {%> 
          <li><%= locals.errorMsg %></li> <% }%>
        <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    <% } %>

    <div id="loginForm">
      <form action="/" method="POST">
        <div>
          <input id="email" name="username" placeholder="Enter Email" type="text" />
        </div>
        <div>
          <input id="password" name="password" type="password" />
        </div>
        <div class="formBtns">
          <button type="submit">Log In</button>
        </div>
      </form>
        <div class="formBtns">
          <a href="/sign-up"> 
            <button> Sign Up !</button>
          </a>
        </div>
    </div>

  <%}%>
  <div>
    <% if (locals.message) {%>
      <div>
        <div>Most Recent Added Message: </div>
        <div>
          <%= message.message %>
        </div>
      </div>
    <% } %>
  </div>
</div>
</body>
</html>
